mixin intro()
  -
    const navItems = [
      {
        text: "Меню",
        href: "#menu",
      },
      {
        text: "Лоадер",
        href: "#loader",
      },
      {
        text: "Сборка первого экрана",
        href: "#build",
      },
      {
        text: "Появление блоков",
        href: "#appearance",
      },
      {
        text: "Параллакс",
        href: "#parallax",
      },
      {
        text: "Слайдер по скроллу",
        href: "#scroll-slider",
      },
    ];
  .intro.data-fix-block(class={"is-hidden": preloading})
    .container
      .intro__header
        h1(data-splitting).intro__title Задачки #[span.no-wrap на&nbsp;прокачку]
        p(data-splitting-words).intro__text Задачи #[span.no-wrap на&nbsp;интерфейсную] логику, которые часто встречаются #[span.no-wrap на&nbsp;реальных] проектах
      ul.intro__nav-list
        each item in navItems
          li.intro__nav-item
            a(href=item.href, data-move-to=item.href).intro__nav-link!= item.text
    .intro__bg
      video(width="1920" height="1080" autoplay loop playsinline muted)
        source(src="./media/background-wave.mp4" type="video/mp4")
