mixin intro()
  -
    const navItems = [
      {
        text: "Меню",
        href: "#",
      },
      {
        text: "Лоадер",
        href: "#",
      },
      {
        text: "Сборка первого экрана",
        href: "#",
      },
      {
        text: "Появление блоков",
        href: "#",
      },
      {
        text: "Параллакс",
        href: "#",
      },
      {
        text: "Слайдер по скроллу",
        href: "#",
      },
    ];
  .intro
    .container
      .intro__header
        h1.intro__title Задачки на прокачку
        p.intro__text Задачи на интерфейсную логику, которые часто встречаются на реальных проектах
      ul.intro__nav-list
        each item in navItems
          li.intro__nav-item
            a(href=item.href).intro__nav-link!= item.text
