mixin parallax()
  -
    const items = [
      {
        effect: "fade-scale"
      },
      {
        effect: "fade-scale"
      },
      {
        effect: "transform y"
      },
      {
        effect: "transform y"
      },
      {
        effect: "transform x"
      },
      {
        effect: "transform x"
      },
    ];
  section(id="parallax").parallax
    .container
      .content-block
        h2 Параллакс по скроллу
        p Эффекты, которые постоянно срабатывают по скроллу
          br
        | Скроллим скроллим и вжух вжух вжух!
        ul(data-animation="parallax")
          each item in items
            li
              .card(data-parallax=item.effect)!= item.effect
