.intro {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

    width: 100%;
    min-height: 100vh;

    @include vp-767 {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 80px;

    @include vp-767 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 40px;
    }
  }

  &__title {
    margin: 0;
    max-width: 500px;

    font-size: 80px;
    line-height: 1;
    font-weight: 500;
    color: $color-night-rider;

    @include vp-1023 {
      max-width: 350px;

      font-size: 50px;
    }

    @include vp-767 {
      max-width: 300px;
      margin: 0 0 20px;

      font-size: 40px;
    }
  }

  &__text {
    margin: 0;
    max-width: 300px;

    font-size: 18px;
    line-height: 24px;
    color: $color-night-rider;
    text-align: right;

    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-767 {
      text-align: left;
    }
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 1270px;
    max-width: 100%;

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }

  &__nav-item {
    transform: scale(0);
  }

  &__nav-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 115px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;

    background-color: rgba($color-default-white, 0.7);
    transition: background-color $trans-default;

    font-size: 24px;
    line-height: 30px;
    color: $color-night-rider;
    text-align: right;

    @include hover-focus {
      background-color: rgba($color-default-white, 0.4);
    }

    @include vp-1023 {
      min-height: 100px;
      padding: 15px;

      font-size: 20px;
      line-height: 27px;
    }

    @include vp-767 {
      min-height: 70px;
      padding: 16px 8px;

      font-size: 14px;
      line-height: 17px;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    z-index: -1;
    pointer-events: none;
    mix-blend-mode: color-dodge;

    video {
      position: absolute;
      left: -2%;
      top: -2%;
      width: 104%;
      height: 104%;
      max-width: 104%;
      max-height: 104%;
      object-fit: cover;

      opacity: 0.4;
      filter: blur(8px) contrast(1) sepia(1) grayscale(1) brightness(.7);

      user-select: none;
    }
  }

  &.is-shown {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
