.main-nav {
  $root: &;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: var(--header-height) 0 0;

  background-color: $color-night-rider;
  clip-path: polygon(0 0,100% 0,100% 0,0 0);
  pointer-events: none;

  transition: clip-path $trans-in-out-600;

  &.is-active {
    clip-path: polygon(0 0,100% 0,100% 100%,0 110%);
    pointer-events: all;

    #{$root}__title {
      transition: transform $trans-in-out-400 0.3s;
      transform: translate3d(0, 0, 0);
    }

    #{$root}__link {
      transform: translate3d(0, 0, 0);
    }

    #{$root}__item:nth-child(n + 1) #{$root}__link {
      transition: transform $trans-in-out-400 0.35s;
    }

    #{$root}__item:nth-child(n + 2) #{$root}__link {
      transition: transform $trans-in-out-400 0.40s;
    }

    #{$root}__item:nth-child(n + 3) #{$root}__link {
      transition: transform $trans-in-out-400 0.45s;
    }

    #{$root}__item:nth-child(n + 4) #{$root}__link {
      transition: transform $trans-in-out-400 0.50s;
    }
  }

  .container {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;

    @include vp-767 {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  &__title-wrapper {
    margin: 0 0 35px;

    overflow: hidden;

    @include vp-767 {
      margin: 0 0 20px;
    }
  }

  &__title {
    margin: 0;

    font-size: 50px;
    line-height: 60px;

    color: rgba($color-default-white, 0.6);

    transform: translate3d(0, 100%, 0);
    transition: transform $trans-default;

    @include vp-767 {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__list-wrapper {
    max-height: 90%;
    padding: 0 0 70px;
    width: 100%;

    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: rgba($color-default-white, 0.6) rgba($color-default-white, 0.1);

    &::-webkit-scrollbar {
      width: 8px;

      @include vp-767 {
        width: 5px;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($color-default-white, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color-default-white, 0.6);
    }

    @include vp-767 {
      padding: 0 0 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;

    list-style: none;
  }

  &__item {
    margin: 0 0 35px;
    width: min-content;

    overflow: hidden;
    transition: transform $trans-in-out-400;

    @include hover-focus {
      &:not(.is-active) {
        transform: translate3d(30px, 0, 0);
      }
    }

    &:last-child {
      margin: 0;
    }

    @include vp-767 {
      margin: 0 0 18px;
    }
  }

  &__link {
    display: inline-block;

    font-size: 50px;
    line-height: 60px;
    color: $color-default-white;
    white-space: nowrap;

    transform: translate3d(0, 100%, 0);
    transition: transform $trans-default;

    user-select: none;

    @include vp-767 {
      font-size: 30px;
      line-height: 37px;
    }

    &:not([href]) {
      cursor: default;
    }
  }
}
